Proyect PLD VS 2012/PLD.Web/Service References/ComunService/ComunService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ComunService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IComunContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1100/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1100/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1100/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Comun" />
      <xsd:import schemaLocation="http://localhost:1100/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities" />
      <xsd:import schemaLocation="http://localhost:1100/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PLD.BussinesEntities.Comun" />
      <xsd:import schemaLocation="http://localhost:1100/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Catalogo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IComunContract_setLogError_InputMessage">
    <wsdl:part name="parameters" element="tns:setLogError" />
  </wsdl:message>
  <wsdl:message name="IComunContract_setLogError_OutputMessage">
    <wsdl:part name="parameters" element="tns:setLogErrorResponse" />
  </wsdl:message>
  <wsdl:message name="IComunContract_setCargaInformacion_InputMessage">
    <wsdl:part name="parameters" element="tns:setCargaInformacion" />
  </wsdl:message>
  <wsdl:message name="IComunContract_setCargaInformacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:setCargaInformacionResponse" />
  </wsdl:message>
  <wsdl:message name="IComunContract_getBitacoraCarga_InputMessage">
    <wsdl:part name="parameters" element="tns:getBitacoraCarga" />
  </wsdl:message>
  <wsdl:message name="IComunContract_getBitacoraCarga_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBitacoraCargaResponse" />
  </wsdl:message>
  <wsdl:message name="IComunContract_setCatalogos_InputMessage">
    <wsdl:part name="parameters" element="tns:setCatalogos" />
  </wsdl:message>
  <wsdl:message name="IComunContract_setCatalogos_OutputMessage">
    <wsdl:part name="parameters" element="tns:setCatalogosResponse" />
  </wsdl:message>
  <wsdl:message name="IComunContract_getEstado_InputMessage">
    <wsdl:part name="parameters" element="tns:getEstado" />
  </wsdl:message>
  <wsdl:message name="IComunContract_getEstado_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="IComunContract_getLocalidad_InputMessage">
    <wsdl:part name="parameters" element="tns:getLocalidad" />
  </wsdl:message>
  <wsdl:message name="IComunContract_getLocalidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLocalidadResponse" />
  </wsdl:message>
  <wsdl:message name="IComunContract_getActividad_InputMessage">
    <wsdl:part name="parameters" element="tns:getActividad" />
  </wsdl:message>
  <wsdl:message name="IComunContract_getActividad_OutputMessage">
    <wsdl:part name="parameters" element="tns:getActividadResponse" />
  </wsdl:message>
  <wsdl:message name="IComunContract_getNacionalidad_InputMessage">
    <wsdl:part name="parameters" element="tns:getNacionalidad" />
  </wsdl:message>
  <wsdl:message name="IComunContract_getNacionalidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNacionalidadResponse" />
  </wsdl:message>
  <wsdl:message name="IComunContract_getTipoPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:getTipoPersona" />
  </wsdl:message>
  <wsdl:message name="IComunContract_getTipoPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTipoPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IComunContract_getRiesgo_InputMessage">
    <wsdl:part name="parameters" element="tns:getRiesgo" />
  </wsdl:message>
  <wsdl:message name="IComunContract_getRiesgo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getRiesgoResponse" />
  </wsdl:message>
  <wsdl:message name="IComunContract_getEstatusSeguimientoOp_InputMessage">
    <wsdl:part name="parameters" element="tns:getEstatusSeguimientoOp" />
  </wsdl:message>
  <wsdl:message name="IComunContract_getEstatusSeguimientoOp_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEstatusSeguimientoOpResponse" />
  </wsdl:message>
  <wsdl:message name="IComunContract_getConfigInusual_InputMessage">
    <wsdl:part name="parameters" element="tns:getConfigInusual" />
  </wsdl:message>
  <wsdl:message name="IComunContract_getConfigInusual_OutputMessage">
    <wsdl:part name="parameters" element="tns:getConfigInusualResponse" />
  </wsdl:message>
  <wsdl:message name="IComunContract_getProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductos" />
  </wsdl:message>
  <wsdl:message name="IComunContract_getProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IComunContract_setConfigInusual_InputMessage">
    <wsdl:part name="parameters" element="tns:setConfigInusual" />
  </wsdl:message>
  <wsdl:message name="IComunContract_setConfigInusual_OutputMessage">
    <wsdl:part name="parameters" element="tns:setConfigInusualResponse" />
  </wsdl:message>
  <wsdl:message name="IComunContract_setDetTipoInusual_InputMessage">
    <wsdl:part name="parameters" element="tns:setDetTipoInusual" />
  </wsdl:message>
  <wsdl:message name="IComunContract_setDetTipoInusual_OutputMessage">
    <wsdl:part name="parameters" element="tns:setDetTipoInusualResponse" />
  </wsdl:message>
  <wsdl:portType name="IComunContract">
    <wsdl:operation name="setLogError">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunContract/setLogError" message="tns:IComunContract_setLogError_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunContract/setLogErrorResponse" message="tns:IComunContract_setLogError_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setCargaInformacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunContract/setCargaInformacion" message="tns:IComunContract_setCargaInformacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunContract/setCargaInformacionResponse" message="tns:IComunContract_setCargaInformacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBitacoraCarga">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunContract/getBitacoraCarga" message="tns:IComunContract_getBitacoraCarga_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunContract/getBitacoraCargaResponse" message="tns:IComunContract_getBitacoraCarga_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setCatalogos">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunContract/setCatalogos" message="tns:IComunContract_setCatalogos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunContract/setCatalogosResponse" message="tns:IComunContract_setCatalogos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEstado">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunContract/getEstado" message="tns:IComunContract_getEstado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunContract/getEstadoResponse" message="tns:IComunContract_getEstado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLocalidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunContract/getLocalidad" message="tns:IComunContract_getLocalidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunContract/getLocalidadResponse" message="tns:IComunContract_getLocalidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getActividad">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunContract/getActividad" message="tns:IComunContract_getActividad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunContract/getActividadResponse" message="tns:IComunContract_getActividad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNacionalidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunContract/getNacionalidad" message="tns:IComunContract_getNacionalidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunContract/getNacionalidadResponse" message="tns:IComunContract_getNacionalidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTipoPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunContract/getTipoPersona" message="tns:IComunContract_getTipoPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunContract/getTipoPersonaResponse" message="tns:IComunContract_getTipoPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getRiesgo">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunContract/getRiesgo" message="tns:IComunContract_getRiesgo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunContract/getRiesgoResponse" message="tns:IComunContract_getRiesgo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEstatusSeguimientoOp">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunContract/getEstatusSeguimientoOp" message="tns:IComunContract_getEstatusSeguimientoOp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunContract/getEstatusSeguimientoOpResponse" message="tns:IComunContract_getEstatusSeguimientoOp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getConfigInusual">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunContract/getConfigInusual" message="tns:IComunContract_getConfigInusual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunContract/getConfigInusualResponse" message="tns:IComunContract_getConfigInusual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunContract/getProductos" message="tns:IComunContract_getProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunContract/getProductosResponse" message="tns:IComunContract_getProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setConfigInusual">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunContract/setConfigInusual" message="tns:IComunContract_setConfigInusual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunContract/setConfigInusualResponse" message="tns:IComunContract_setConfigInusual_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="setDetTipoInusual">
      <wsdl:input wsaw:Action="http://tempuri.org/IComunContract/setDetTipoInusual" message="tns:IComunContract_setDetTipoInusual_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IComunContract/setDetTipoInusualResponse" message="tns:IComunContract_setDetTipoInusual_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IComunContract" type="tns:IComunContract">
    <wsp:PolicyReference URI="#NetTcpBinding_IComunContract_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="setLogError">
      <soap12:operation soapAction="http://tempuri.org/IComunContract/setLogError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCargaInformacion">
      <soap12:operation soapAction="http://tempuri.org/IComunContract/setCargaInformacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBitacoraCarga">
      <soap12:operation soapAction="http://tempuri.org/IComunContract/getBitacoraCarga" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCatalogos">
      <soap12:operation soapAction="http://tempuri.org/IComunContract/setCatalogos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEstado">
      <soap12:operation soapAction="http://tempuri.org/IComunContract/getEstado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocalidad">
      <soap12:operation soapAction="http://tempuri.org/IComunContract/getLocalidad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActividad">
      <soap12:operation soapAction="http://tempuri.org/IComunContract/getActividad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNacionalidad">
      <soap12:operation soapAction="http://tempuri.org/IComunContract/getNacionalidad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTipoPersona">
      <soap12:operation soapAction="http://tempuri.org/IComunContract/getTipoPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRiesgo">
      <soap12:operation soapAction="http://tempuri.org/IComunContract/getRiesgo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEstatusSeguimientoOp">
      <soap12:operation soapAction="http://tempuri.org/IComunContract/getEstatusSeguimientoOp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getConfigInusual">
      <soap12:operation soapAction="http://tempuri.org/IComunContract/getConfigInusual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductos">
      <soap12:operation soapAction="http://tempuri.org/IComunContract/getProductos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setConfigInusual">
      <soap12:operation soapAction="http://tempuri.org/IComunContract/setConfigInusual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setDetTipoInusual">
      <soap12:operation soapAction="http://tempuri.org/IComunContract/setDetTipoInusual" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ComunService">
    <wsdl:port name="NetTcpBinding_IComunContract" binding="tns:NetTcpBinding_IComunContract">
      <soap12:address location="net.tcp://localhost:1190/ComunService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:1190/ComunService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>