Proyect PLD VS 2012/PLD.Web/Service References/ComunService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Comun" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Comun" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogError">
    <xs:sequence>
      <xs:element minOccurs="0" name="datFechaError" type="xs:dateTime" />
      <xs:element minOccurs="0" name="vchHostName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchParametros" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchStakeTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogError" nillable="true" type="tns:LogError" />
</xs:schema>