Proyect PLD VS 2012/PLD.Web/Service References/ComunService/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Catalogo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Catalogo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCatalogoRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CatalogoRequest" nillable="true" type="tns:CatalogoRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCatalogoRequest" nillable="true" type="tns:ArrayOfCatalogoRequest" />
  <xs:complexType name="CatalogoRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="shPuntaje" type="xs:short" />
      <xs:element minOccurs="0" name="vchClave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchClaveRel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchCodigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchDescripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogoRequest" nillable="true" type="tns:CatalogoRequest" />
</xs:schema>