Proyect PLD VS 2012/PLD.Web/Service References/ComunService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Comun" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Comun" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogError">
    <xs:sequence>
      <xs:element minOccurs="0" name="datFechaError" type="xs:dateTime" />
      <xs:element minOccurs="0" name="vchHostName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchParametros" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchStakeTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchUsuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogError" nillable="true" type="tns:LogError" />
  <xs:complexType name="ArrayOfCatalogoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CatalogoResponse" nillable="true" type="tns:CatalogoResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCatalogoResponse" nillable="true" type="tns:ArrayOfCatalogoResponse" />
  <xs:complexType name="CatalogoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="strDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CatalogoResponse" nillable="true" type="tns:CatalogoResponse" />
  <xs:complexType name="ArrayOfTipoInusual">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoInusual" nillable="true" type="tns:TipoInusual" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoInusual" nillable="true" type="tns:ArrayOfTipoInusual" />
  <xs:complexType name="TipoInusual">
    <xs:sequence>
      <xs:element minOccurs="0" name="lstDetTipoInusual" nillable="true" type="tns:ArrayOfDetTipoInusual" />
      <xs:element minOccurs="0" name="shTipoInusualID" type="xs:short" />
      <xs:element minOccurs="0" name="shTipoTipoReporte" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="strDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="strNombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoInusual" nillable="true" type="tns:TipoInusual" />
  <xs:complexType name="ArrayOfDetTipoInusual">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetTipoInusual" nillable="true" type="tns:DetTipoInusual" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetTipoInusual" nillable="true" type="tns:ArrayOfDetTipoInusual" />
  <xs:complexType name="DetTipoInusual">
    <xs:sequence>
      <xs:element minOccurs="0" name="entConfigInusual" nillable="true" type="tns:ConfigInusual" />
      <xs:element minOccurs="0" name="sintConfigInusualID" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="sintDetTipoInusualID" type="xs:short" />
      <xs:element minOccurs="0" name="sintTipoInusualID" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="sintTipoProductoID" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetTipoInusual" nillable="true" type="tns:DetTipoInusual" />
  <xs:complexType name="ConfigInusual">
    <xs:sequence>
      <xs:element minOccurs="0" name="blAgrupacion" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="blMontos" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="blSaldoMensual" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="decMontoAgrupacion" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="decMontoMayor" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="shDiasAgrupacion" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="shPorcSaldoMens" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="sintConfigInusualID" type="xs:short" />
      <xs:element minOccurs="0" name="sintDetTipoInusualID" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigInusual" nillable="true" type="tns:ConfigInusual" />
</xs:schema>