Proyect PLD VS 2012/PLD.Web/Service References/ComunService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PLD.BussinesEntities.Comun" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PLD.BussinesEntities.Comun" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCarga">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Carga" nillable="true" type="tns:Carga" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarga" nillable="true" type="tns:ArrayOfCarga" />
  <xs:complexType name="Carga">
    <xs:sequence>
      <xs:element minOccurs="0" name="intLogID" type="xs:int" />
      <xs:element minOccurs="0" name="sdatFecha" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="sintNoError" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="sintNoExito" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="vchDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchParametros" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vchXMLError" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Carga" nillable="true" type="tns:Carga" />
</xs:schema>