Proyect PLD VS 2012/PLD.Web/Service References/ComunService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1100/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Comun" />
  <xs:import schemaLocation="http://localhost:1100/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities" />
  <xs:import schemaLocation="http://localhost:1100/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PLD.BussinesEntities.Comun" />
  <xs:import schemaLocation="http://localhost:1100/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Catalogo" />
  <xs:element name="setLogError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Comun" minOccurs="0" name="error" nillable="true" type="q1:LogError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setLogErrorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setCargaInformacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setCargaInformacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities" minOccurs="0" name="setCargaInformacionResult" nillable="true" type="q2:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBitacoraCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dttFechIni" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dttFechFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBitacoraCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PLD.BussinesEntities.Comun" minOccurs="0" name="getBitacoraCargaResult" nillable="true" type="q3:ArrayOfCarga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setCatalogos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Catalogo" minOccurs="0" name="request" nillable="true" type="q4:ArrayOfCatalogoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setCatalogosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities" minOccurs="0" name="setCatalogosResult" nillable="true" type="q5:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Comun" minOccurs="0" name="getEstadoResult" nillable="true" type="q6:ArrayOfCatalogoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocalidad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocalidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Comun" minOccurs="0" name="getLocalidadResult" nillable="true" type="q7:ArrayOfCatalogoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getActividad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getActividadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Comun" minOccurs="0" name="getActividadResult" nillable="true" type="q8:ArrayOfCatalogoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNacionalidad">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNacionalidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Comun" minOccurs="0" name="getNacionalidadResult" nillable="true" type="q9:ArrayOfCatalogoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTipoPersona">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTipoPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Comun" minOccurs="0" name="getTipoPersonaResult" nillable="true" type="q10:ArrayOfCatalogoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRiesgo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRiesgoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Comun" minOccurs="0" name="getRiesgoResult" nillable="true" type="q11:ArrayOfCatalogoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstatusSeguimientoOp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstatusSeguimientoOpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Comun" minOccurs="0" name="getEstatusSeguimientoOpResult" nillable="true" type="q12:ArrayOfCatalogoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getConfigInusual">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getConfigInusualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Comun" minOccurs="0" name="getConfigInusualResult" nillable="true" type="q13:ArrayOfTipoInusual" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Comun" minOccurs="0" name="getProductosResult" nillable="true" type="q14:ArrayOfCatalogoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setConfigInusual">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Comun" minOccurs="0" name="item" nillable="true" type="q15:ConfigInusual" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setConfigInusualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities" minOccurs="0" name="setConfigInusualResult" nillable="true" type="q16:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setDetTipoInusual">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Comun" minOccurs="0" name="item" nillable="true" type="q17:DetTipoInusual" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setDetTipoInusualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities" minOccurs="0" name="setDetTipoInusualResult" nillable="true" type="q18:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>