Proyect PLD VS 2012/PLD.Web/Service References/ComunService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1100/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Comun" />
  <xs:import schemaLocation="http://localhost:1100/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities" />
  <xs:import schemaLocation="http://localhost:1100/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PLD.BussinesEntities.Comun" />
  <xs:element name="setLogError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities.Comun" minOccurs="0" name="error" nillable="true" type="q1:LogError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setLogErrorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setCargaInformacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setCargaInformacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PLD.BusinessEntities" minOccurs="0" name="setCargaInformacionResult" nillable="true" type="q2:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBitacoraCarga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dttFechIni" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dttFechFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBitacoraCargaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PLD.BussinesEntities.Comun" minOccurs="0" name="getBitacoraCargaResult" nillable="true" type="q3:ArrayOfCarga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>